@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background: var(--gray-main);
  border-radius: 0;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--gray-main-700);
}
::-webkit-scrollbar-track {
  border-left: 1px var(--border-main) solid;
  border-radius: 0px;
}

.scrollbar-small::-webkit-scrollbar {
  width: 4px;
}
.scrollbar-small::-webkit-scrollbar-track {
  border-left: 1px var(--border-main) transparent;
  border-radius: 0px;
}

.card-main-view-player::-webkit-scrollbar-track {
  border-left: 1px var(--border-main) transparent;
  border-radius: 0px;
}

.scrollbar-noboder::-webkit-scrollbar-track {
  border-left: 1px var(--border-main) transparent;
  border-radius: 0px;
}

:root {
  --main-bg: #030303;
  --color-white: #ffffff;
  --purple: #6626f9;
  --turquoise: #43bcff;
  --blue: #5865fc;
  --blueL: #3c92ff;
  --border-main: #262626;
  --border-mainL: #4f4f4f;
  --border-mainL1: #464646;
  --gray-main: #606060;
  --gray-main-700: #505050;
  --animate-duration: 0.3s;
  --animate-delay: 0.5s;
  --whiteT1: #ffffffb3;
  --grayL: #212121;
  --grayL2: #353535;
  --heart-color: #ff6879;
  /* --heart-color: #f60000; */
}
.thumbnail-player-main {
  animation-delay: 0.3s;
}
html {
}

body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif; */
  font-family: "Nunito Sans", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--main-bg);
  color: var(--color-white);
  height: 100vh;
  overflow-y: scroll;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@layer utilities {
  @variants responsive {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }
  }

  .card-main-view-player-hover {
    @apply overflow-auto pr-0;
  }

  .volume-track-hover {
    @apply w-24 mr-2 opacity-100 visible pl-5;
  }

  .control-thumb-style {
    @apply transition-all opacity-0 group-hover:opacity-100 absolute h-20 w-20 bg-black bg-opacity-30 rounded-full flex justify-center items-center;
  }

  .control-thumb-style-h {
    @apply absolute h-0 w-0 overflow-hidden flex bg-[#0000003f] justify-center items-center rounded-full;
  }

  .mini-overflow-scrollbar {
    @apply overflow-auto pr-1;
  }
}

/* //popup override  */
.popup-content {
  margin: auto;
  background: var(--grayL);
  width: 50%;
  padding: 5px;
  border-radius: 2px;
  border: 1px solid var(--border-mainL1);
}
.popup-arrow {
  color: var(--grayL);
}
[role="tooltip"].popup-content {
  width: auto;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 3px;
  border-radius: 2px;
  padding: 16px 0;
}

.popup-overlay {
  background: rgba(0, 0, 0, 0.5);
}
[data-popup="tooltip"].popup-overlay {
  background: transparent;
}

/* // heart animate css  */

.toggle-heart.is-liked-not-animate {
  color: #e2264d;
  will-change: font-size;
  /* animation: heart 0.7s cubic-bezier(0.17, 0.89, 0.32, 1.49); */
}
.toggle-heart.is-liked {
  color: #e2264d;
  will-change: font-size;
  animation: heart 0.7s cubic-bezier(0.17, 0.89, 0.32, 1.49);
}
.toggle-heart.is-liked:before,
.toggle-heart.is-liked:after {
  animation: inherit;
  animation-timing-function: ease-out;
}
.toggle-heart.is-liked:before {
  will-change: transform, border-width, border-color;
  animation-name: bubble;
}
.toggle-heart.is-liked:after {
  will-change: opacity, box-shadow;
  animation-name: particles;
}

.toggle-heart {
  align-self: center;
  position: relative;
  color: #aab8c2;
  font-size: 24px;
  user-select: none;
  cursor: pointer;
}
.toggle-heart:before,
.toggle-heart:after {
  position: absolute;
  z-index: 10;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  content: "";
}
.toggle-heart:before {
  box-sizing: border-box;
  margin: -2.25rem;
  border: solid 2.25rem #e2264d;
  width: 4.5rem;
  height: 4.5rem;
  transform: scale(0);
}
.toggle-heart:after {
  margin: -0.1875rem;
  width: 0.375rem;
  height: 0.375rem;
  box-shadow: 0.32476rem -3rem 0 -0.20625rem #ff8080,
    -0.32476rem -2.625rem 0 -0.20625rem #ffed80,
    2.54798rem -1.61656rem 0 -0.20625rem #ffed80,
    1.84982rem -1.89057rem 0 -0.20625rem #a4ff80,
    2.85252rem 0.98418rem 0 -0.20625rem #a4ff80,
    2.63145rem 0.2675rem 0 -0.20625rem #80ffc8,
    1.00905rem 2.84381rem 0 -0.20625rem #80ffc8,
    1.43154rem 2.22414rem 0 -0.20625rem #80c8ff,
    -1.59425rem 2.562rem 0 -0.20625rem #80c8ff,
    -0.84635rem 2.50595rem 0 -0.20625rem #a480ff,
    -2.99705rem 0.35095rem 0 -0.20625rem #a480ff,
    -2.48692rem 0.90073rem 0 -0.20625rem #ff80ed,
    -2.14301rem -2.12438rem 0 -0.20625rem #ff80ed,
    -2.25479rem -1.38275rem 0 -0.20625rem #ff8080;
}

@keyframes heart {
  0%,
  17.5% {
    font-size: 0;
  }
}
@keyframes bubble {
  15% {
    transform: scale(1);
    border-color: #cc8ef5;
    border-width: 2.25rem;
  }
  30%,
  100% {
    transform: scale(1);
    border-color: #cc8ef5;
    border-width: 0;
  }
}
@keyframes particles {
  0%,
  20% {
    opacity: 0;
  }
  25% {
    opacity: 1;
    box-shadow: 0.32476rem -2.4375rem 0 0rem #ff8080,
      -0.32476rem -2.0625rem 0 0rem #ffed80,
      2.1082rem -1.26585rem 0 0rem #ffed80,
      1.41004rem -1.53985rem 0 0rem #a4ff80,
      2.30412rem 0.85901rem 0 0rem #a4ff80, 2.08305rem 0.14233rem 0 0rem #80ffc8,
      0.76499rem 2.33702rem 0 0rem #80ffc8, 1.18748rem 1.71734rem 0 0rem #80c8ff,
      -1.35019rem 2.0552rem 0 0rem #80c8ff,
      -0.60229rem 1.99916rem 0 0rem #a480ff,
      -2.44865rem 0.22578rem 0 0rem #a480ff,
      -1.93852rem 0.77557rem 0 0rem #ff80ed,
      -1.70323rem -1.77366rem 0 0rem #ff80ed,
      -1.81501rem -1.03204rem 0 0rem #ff8080;
  }
}
